{% extends 'base.html.twig' %}

{% block title %}Encycl'eau{% endblock %}

{% block body %}
    <div class="container">
        <div class="welcome-index">
            <h1>Découvrez, améliorez, et partagez des données relatives aux thèmes suivants : eau, assainissement, développement durable</h1>
            <a href="{{ path('assainissement_asia') }}" class="btn-white-filled-blue btn-medium">Découvrir</a>
        </div>

        <div class="display-flex">
            <div class="first-box-big">
                <h2>Derniers jeux de données.</h2>
                <a href="#" class="btn-white-filled-blue btn-medium">Regarder</a>
                <img src="{{ asset('img/water-crisis-2018.png') }}">
            </div>
            <div class="second-box-small">
                <h2>Contactez nous</h2>
                <form>
                    <input type="text" placeholder="Adresse">
                    <button class="btn-white-filled-blue btn-medium">Envoyer</button>
                </form>
            </div>
        </div>

        <div class="display-flex">
            <div class="first-box-medium">
                <h2>Comparez les différents jeux de données concernant l’eau.</h2>
                <a href="#" class="btn-blue-filled-white btn-medium">Comparer datasets</a>
                <img src="{{ asset('img/tile-image-tools.png') }}">
            </div>
            <div class="second-box-medium">
                <h2>Notre collection de jeux de données fournis par l’OMS.</h2>
                <a href="#" class="btn-white-filled-blue btn-medium">Regarder la libraire</a>
                <img src="{{ asset('img/tile-image-books.png') }}">
            </div>
        </div>

        <div class="cross-ads">
            <h2>Les nouveux datasets</h2>
            <div class="display-flex">
                <div class="cross-item">
                    <a href="#"><img src="{{ asset('img/cover.jpg') }}"></a>
                    <h3><a href="#">Assainissement</a></h3>
                </div>
                <div class="cross-item">
                    <a href="#"><img src="{{ asset('img/cover2.jpg') }}"></a>
                    <h3><a href="#">Séchresse</a></h3>
                </div>
                <div class="cross-item">
                    <a href="#"><img src="{{ asset('img/cover3.jpg') }}"></a>
                    <h3><a href="#">Pollution</a></h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
