{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <div class="container">
        <div class="welcome-index">
            <h1>👋 Bonjour ! Nous rassemblons pour vous les datasets bla bla.</h1>
            <a href="#" class="btn-white-filled-blue btn-medium">Découvrir</a>
        </div>

        <div class="display-flex">
            <div class="first-box-big">
                <h2>Enquête 2018, les dernieres EDA de l'année</h2>
                <a href="#" class="btn-white-filled-blue btn-medium">Regarder</a>
                <img src="{{ asset('img/water-crisis-2018.png') }}">
            </div>
            <div class="second-box-small">
                <h2>Contactez nous</h2>
                <form>
                    <input type="text" placeholder="Adresse">
                    <button class="btn-white-filled-blue btn-medium">Envoyer</button>
                </form>
            </div>
        </div>

        <div class="display-flex">
            <div class="first-box-medium">
                <h2>Comparer les differents changement sur l'eau au fil des années</h2>
                <a href="#" class="btn-blue-filled-white btn-medium">Comparer datasets</a>
                <img src="{{ asset('img/tile-image-tools.png') }}">
            </div>
            <div class="second-box-medium">
                <h2>Nous collectons pour vous les datasets fournis par l'OMS</h2>
                <a href="#" class="btn-white-filled-blue btn-medium">Regarder la libraire</a>
                <img src="{{ asset('img/tile-image-books.png') }}">
            </div>
        </div>

        <div class="cross-ads">
            <h2>Les nouveux datasets</h2>
            <div class="display-flex">
                <div class="cross-item">
                    <a href="#"><img src="{{ asset('img/cover.png') }}"></a>
                    <h3><a href="#">Assainissement</a></h3>
                </div>
                <div class="cross-item">
                    <a href="#"><img src="{{ asset('img/cover2.jpg') }}"></a>
                    <h3><a href="#">Séchresse</a></h3>
                </div>
                <div class="cross-item">
                    <a href="#"><img src="{{ asset('img/cover3.jpg') }}"></a>
                    <h3><a href="#">Pollution</a></h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
